<%- include('header')%>
<body>
  <h1><%= name.toUpperCase() %></h1>
  <p>Hello,<%= name %></p>
  <ul>
    <% for(var i=0; i < 5; i++){ %>
    <li><%= '哈哈哈' %></li>
    <% } %>
  </ul>
</body>
<%- include('footer')%>
